@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --secondary-grey: #949494;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFEFEF;
}

.App {
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.hero {
  font-weight: bold;
  font-size: 53px;
}

.subtitle {
  color: var(--secondary-grey);
  font-size: 17px;
}

